.innerdiv{
  
  font-family: 'MonteCarlo', cursive;
  color: rgb(172, 42, 19);
  background-color: white;
  width: 74%;
  padding: 5% 0% 7% 6%;
  border: solid #f0e7e7;
  height: 18vw;
  font-size: 5vw;
  box-shadow: 10px 7px 5px #b9b9b9;
  border-radius: 6%;

}
.outerdiv{
  padding: 2vw 1vw 1vw 6vw;
  width: 85%;
  margin: 0% 0% 2% -5%;
  border-radius: 5%;
  align-content: center;
  height: 64vw;
  background-color: #ffffff;}
  
.btn{
    
  margin: 6%;
  align-content: end;
  padding-left: 24%;
  color: #30300b;
}

button{
  margin: 1%;
  color: #7b1515;
  border-color: white;
  border-radius: 11px;
  box-shadow: 2px 2px 2px #92856d;
  font-size: 6vw;}
